<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="semantic.min.css">
  <link rel="stylesheet" href="popup.css">

  <script src="jquery-3.2.1.min.js"></script>
  <script src="vue.min.js"></script>
  <script src="semantic.min.js"></script>
  <script src="popup.js"></script>
</head>
<body>
  <div class="header">
    <div class="ui inverted huge borderless fixed fluid menu blue column">
      <a class="header item" id='top'>おんヨミちゃん</a>
    </div>
  </div>

  <div class="tabMenu">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">音声</a>
      <a class="item" data-tab="second">置換</a>
      <a class="item" data-tab="third">その他</a>
      <a class="item" data-tab="fourth">使い方</a>
    </div>
    <!-- 音声 -->
    <div class="ui bottom attached tab segment active" data-tab="first">
      <div class="onsei">
        <div class="ui attached message">
          <h2>音声</h2>
        </div>
        <div class="ui attached fluid segment">
          <p>レート:{{ rateValue }}</p>
          <input type="range" id="rate-range" min="0.1" max="3" step="0.1" v-model="rateValue"/>
          <p>ピッチ:{{ pitchValue }}</p>
          <input type="range" id="pitch-range" min="0" max="2" step="0.1" v-model="pitchValue"/>
          <p>ボリューム:{{ volumeValue }}</p>
          <input type="range" id="volume-range" min="0" max="1" step="0.1" v-model="volumeValue"/>
          <button class="ui green button" style="margin-top: 30px" v-on:click="test">テスト</button>
          <button class="ui blue button" style="margin-top: 30px" v-on:click="save">保存</button>
        </div>
      </div>
    </div>

    <!-- 置換 -->
    <div class="ui bottom attached tab segment" data-tab="second">
      <div class="tikan">
        <div class="ui attached message">
          <h2 class="red">置換</h2>
        </div>
        <div class="ui attached fluid segment">
          <div class="ui form">
            <div class="field">
              <label>置換前:</label>
              <input type="text">
            </div>
          </div>
          <div class="ui form">
            <div class="field">
              <label>置換後:</label>
              <input type="text">
            </div>
          </div>
          <button class="ui orange button" style="margin-top: 20px">追加</button>
          <button class="ui blue button" style="margin-top: 20px">保存</button>
          </div>
        <div class="ui attached fluid segment">
          <table class="ui unstackable table">
            <thead>
              <tr>
                <th>置換前</th>
                <th>置換後</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  セル1あああああああああああああああ
                </td>
                <td>
                  セル1あああああああああああああああああ
                </td>
                <td>
                  <button class="ui compact icon button">
                    <i class="times icon"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  セル2
                </td>
                <td>
                  セル2
                </td>
                <td>
                  <button class="ui compact icon button">
                    <i class="times icon"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  セル3
                </td>
                <td>
                  セル3
                </td>
                <td>
                  セル3
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="ui bottom attached tab segment" data-tab="third">
      <div class="sonota">
        <h2>その他</h2>
      </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="fourth">
      <div class="tukaikata">
        <h2>使い方</h2>
      </div>
    </div>
  </div>

</body>
</html>
