#start-btn {
  cursor: pointer;
  background:none;
  border:0;
}

#pause-btn {
  cursor: pointer;
  background:none;
  border:0;
}

#stop-btn {
  cursor: pointer;
  background:none;
  border:0;
}

#eye-btn {
  cursor: pointer;
  background:none;
  border:0;

}

#slash-btn {
  cursor: pointer;
  background:none;
  border:0;
}

.button-box {
  top: 5px;
  left: 100px;
  position: fixed;

}

*:focus {
  outline: none;
}