#buttonBox-onyomichan {
  top: 5px;
  left: 100px;
  position: fixed;
}

#resnumInput-onyomichan {
  width: 45px;
  height: 25px;
  top: -7px;
  position: relative;
  border-style: solid;
  border-width: 1.3px;
  border-color: rgb(101, 101, 101);

}

#buttonBox-onyomichan span {
  cursor: pointer;
}

#pauseButton-onyomichan {
  display:none;
}

#redeyeButton-onyomichan {
  display:none;
  pointer-events: none;
}

#buttonBox-onyomichan span img {
  width: 20px;
  margin-left: 4px;
  margin-right: 4px;
  transition: 0.3s;
}

#buttonBox-onyomichan span img:hover {
  transform: scale(1.2);
}

*:focus {
  outline: none;
}