<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>setting</title>
  <link rel="stylesheet" href="/css/semantic.min.css">
  <link rel="stylesheet" href="/css/options.css">
  <script type="text/javascript" src="/js/googleAnalytics.js"></script>
</head>
<body>
  <div class="header">
    <h3 class="ui inverted top fixed teal menu">
      <a class="header item" id='top'>おんヨミちゃん 設定</a>
    </h3>
  <div id="message" class="ui hidden fixed menu success message" style="margin-top:43px">保存しました</div>
  </div>
  <div class="main">
    <div class="simple_tikan">
      <div class="ui attached message">
        <h3>単純置換</h3>
      </div>
      <div class="ui attached fluid segment">
        <div class="ui form">
          <div class="field">
            <label>置換前:</label>
            <input type="text" v-model="simple_words.before" placeholder="入力する...">
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <label>置換後:</label>
            <input type="text" v-model="simple_words.after" placeholder="入力する...">
          </div>
        </div>
        <button class="ui orange button" v-on:click="add_s" :disabled="validation_s" style="margin-top: 20px">追加</button>
        <button class="ui blue button" v-on:click="save_s" style="margin-top: 20px">保存</button>
        <button class="ui grey button" v-on:click="initialize_s">初期化</button>
        </div>
      <div class="ui attached fluid segment">
        <table class="ui celled fixed unstackable table">
          <thead>
            <tr>
              <th>置換前</th>
              <th>置換後</th>
              <th class="one wide"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in simple_arr">
              <td>{{ item.before }}</td>
              <td>{{ item.after }}</td>
              <td>
                <button class="ui compact icon button" v-on:click="delete_s(item)">
                  <i class="times icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="regexp_tikan">
      <div class="ui attached message">
        <h3>正規表現置換</h3>
      </div>
      <div class="ui attached fluid segment">
        <div class="ui form">
          <div class="field">
            <label>置換前:</label>
            <input type="text" v-model="regexp_words.before" placeholder="入力する...">
          </div>
        </div>
        <div class="ui form">
          <div class="field">
            <label>置換後:</label>
            <input type="text" v-model="regexp_words.after" placeholder="入力する...">
          </div>
        </div>
        <button class="ui orange button" v-on:click="add_r" :disabled="validation_r" style="margin-top: 20px">追加</button>
        <button class="ui blue button" v-on:click="save_r" style="margin-top: 20px">保存</button>
        <button class="ui grey button" v-on:click="initialize_r">初期化</button>        
        </div>
      <div class="ui attached fluid segment">
        <table class="ui celled fixed unstackable table">
          <thead>
            <tr>
              <th>置換前</th>
              <th>置換後</th>
              <th class="one wide"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in regexp_arr">
              <td>{{ item.before }}</td>
              <td>{{ item.after }}</td>
              <td>
                <button class="ui compact icon button" v-on:click="delete_r(item)">
                  <i class="times icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="other">
      <div class="ui attached message">
          <h3>その他</h3>
      </div>
      <div class="ui attached fluid segment">
        <div class="ui form">
          <div class="inline field">
            <label>読み上げるレスの最大文字数：</label>
            <div class="ui right labeled input">
              <input type="text" v-model="otherData.max_length">
              <div class="ui label">文字</div>
            </div>
          </div>
          <div class="inline field">
            <label>ポップアップウィンドウ右上の「open2ch」のリンク先を変更する：</label>
            <div class="ui labeled input">
              <div class="ui label">https://</div>
              <input type="text" placeholder="＊.open2ch.net/＊" v-model="otherData.open2ch_url">
            </div>
          </div>
        </div>
        <button class="ui blue button" v-on:click="save_o" style="margin-top: 20px">保存</button>
      </div>
    </div>
    <!-- <div class="question">
        <div class="ui attached message">
            <h3>不具合・要望・質問など</h3>
        </div>
        <div class="ui attached fluid segment">
          不具合や要望、質問などがある場合は以下のどれかへお願いします。
          <br>
          <li>
            <a href="https://chrome.google.com/webstore/detail/onmhkgkgngndakhakokgfgopchckepfd/publish-accepted?authuser=0&hl=ja" target="_blank">chrome拡張のレビュー</a>
          </li>
          <li>
            <a href="https://goo.gl/forms/jAIVMneALL7TMtNS2" target="_blank">googleフォーム</a>←匿名
          </li>
          <li>
            <a href="https://twitter.com/ellreka" target="_blank">Twitter</a>
          </li>
        </div>
      </div>
  </div> -->
  <script src="/js/vue.min.js"></script>
  <script src="/js/options.js"></script>
</body>
</html>